@font-face {
  font-family: 'eafont';
  src: url("fonts/EASPORTS15.ttf"); }

@keyframes keepJumping {
  100% {
    transform: translate(-50%, -75%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Montserrat";
  /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, #c03d23, #ce8013);
  overflow: hidden;
  /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
  @media only screen and (max-width: 56.25em) {
    body {
      z-index: 1; } }

a {
  text-decoration: none; }

h1 {
  font-family: "eafont"; }

.btn {
  font-size: 3.2rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 1px 7px #000;
  user-select: none; }

.flexbox {
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom); }

.main-container {
  z-index: 20;
  perspective: 120rem;
  -moz-perspective: 120rem;
  height: 85vh;
  width: 90vw;
  position: relative;
  /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */
  transition: all .4s; }
  @media only screen and (max-width: 56.25em) {
    .main-container {
      height: 78vh; } }
  .main-container i {
    font-size: 6rem;
    color: #fff;
    text-shadow: 0px 1px 8px #000; }
  .main-container .icon {
    transform: translateY(10px); }
  .main-container > * {
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 2s ease;
    backface-visibility: hidden;
    overflow: hidden;
    /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */
    z-index: 30;
    background-image: linear-gradient(to top left, #ff8008, #ffc837);
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 56.25em) {
      .main-container > * {
        overflow: hidden;
        -webkit-overflow-scrolling: hidden; } }
  .main-container--clicked {
    transform: scale(0.9); }

[class^="container"] [class*="__button"] {
  transition: all .3s; }
  [class^="container"] [class*="__button"]:hover {
    transform: scale(1.08); }
  [class^="container"] [class*="__button"]:active {
    transform: scale(0.9); }

.container {
  background-image: url("../img/sfondo.png");
  background-size: cover;
  box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column; }
  .container [class*="box"] {
    display: flex; }
  .container__box-top {
    flex-basis: 15%;
    justify-content: center; }
  .container__box-middle {
    flex: 1;
    justify-content: center;
    align-items: center;
    /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
    @media only screen and (max-width: 56.25em) {
      .container__box-middle {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .container__box-middle #btn-left {
          flex-basis: 34%;
          align-items: center;
          transform: translateX(-17%); }
        .container__box-middle #btn-right {
          flex-basis: 34%;
          align-items: center;
          transform: translateX(17%); } }
  .container__box-bottom {
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-end; }
  .container__logo {
    flex: 1;
    text-align: center;
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 0px 1px 7px #000;
    cursor: default;
    user-select: none;
    /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
    @media only screen and (max-width: 56.25em) {
      .container__logo {
        display: contents; } }
  .container__button-top, .container__button-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .container__button-left, .container__button-right {
    display: flex;
    justify-content: center;
    flex-basis: 25%; }
  .container__button-right {
    text-align: right; }
  .container--clicked--top {
    transform: rotateX(-180deg); }
  .container--clicked--left {
    transform: rotateY(180deg); }
  .container--clicked--right {
    transform: rotateY(-180deg); }
  .container--clicked--bottom {
    transform: rotateX(180deg); }

.container-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotateX(180deg);
  background-image: url("../img/sfondo3.jpg");
  background-size: cover; }
  .container-top .main-box {
    display: flex;
    height: 85%;
    /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */
    /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
    @media only screen and (max-width: 56.25em) {
      .container-top .main-box {
        display: block;
        overflow-y: scroll; }
        .container-top .main-box::-webkit-scrollbar {
          width: 5px; }
        .container-top .main-box::-webkit-scrollbar-track {
          background: #333; }
        .container-top .main-box::-webkit-scrollbar-thumb {
          background: #ffffe6; }
        .container-top .main-box::-webkit-scrollbar-thumb:hover {
          background: #777; } }
    .container-top .main-box-column1 {
      margin-top: 3rem;
      flex-basis: 55%;
      display: flex;
      flex-direction: column; }
      .container-top .main-box-column1__title {
        color: #ffffe6;
        font-family: "eafont";
        font-size: 4rem;
        padding: 1rem 5rem;
        text-shadow: 0px 1px 8px #000;
        text-align: center; }
      .container-top .main-box-column1 .box_mvp {
        flex: 1;
        display: flex;
        flex-direction: column; }
        .container-top .main-box-column1 .box_mvp-row1, .container-top .main-box-column1 .box_mvp-row2 {
          flex-basis: 50%;
          display: flex;
          justify-content: space-around;
          margin-bottom: 12px; }
        .container-top .main-box-column1 .box_mvp .mvp {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%; }
          .container-top .main-box-column1 .box_mvp .mvp__title, .container-top .main-box-column1 .box_mvp .mvp__name {
            color: #ffffe6;
            font-family: "eafont";
            font-size: 4rem;
            padding: 1rem 5rem;
            text-shadow: 0px 1px 8px #000;
            font-size: 2rem;
            text-align: center; }
          .container-top .main-box-column1 .box_mvp .mvp__title {
            font-size: 1.5rem;
            /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
            .container-top .main-box-column1 .box_mvp .mvp__title br {
              display: none; }
            @media only screen and (max-width: 56.25em) {
              .container-top .main-box-column1 .box_mvp .mvp__title {
                font-size: 2rem;
                padding: 1rem 2rem; }
                .container-top .main-box-column1 .box_mvp .mvp__title br {
                  display: inline; } }
          .container-top .main-box-column1 .box_mvp .mvp__img {
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: center;
            /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
            @media only screen and (max-width: 56.25em) {
              .container-top .main-box-column1 .box_mvp .mvp__img {
                height: 15rem; }
                .container-top .main-box-column1 .box_mvp .mvp__img .img1, .container-top .main-box-column1 .box_mvp .mvp__img .img2, .container-top .main-box-column1 .box_mvp .mvp__img .img3, .container-top .main-box-column1 .box_mvp .mvp__img .img4 {
                  background-position: center; } }
            .container-top .main-box-column1 .box_mvp .mvp__img > * {
              border: solid 1.4px #ffffe6;
              border-radius: 5px;
              transition: all .2s; }
              .container-top .main-box-column1 .box_mvp .mvp__img > *:hover {
                transform: scale(1.4); }
            .container-top .main-box-column1 .box_mvp .mvp__img .img1 {
              height: 100%;
              width: 60%;
              background-image: url("../img/balotelli.jpg");
              background-size: cover; }
            .container-top .main-box-column1 .box_mvp .mvp__img .img2 {
              height: 100%;
              width: 60%;
              background-image: url("../img/soriano.jpg");
              background-size: cover; }
            .container-top .main-box-column1 .box_mvp .mvp__img .img3 {
              height: 100%;
              width: 60%;
              background-image: url("../img/danilo.jpg");
              background-size: cover; }
            .container-top .main-box-column1 .box_mvp .mvp__img .img4 {
              height: 100%;
              width: 60%;
              background-image: url("../img/handanovic.jpg");
              background-size: cover; }
    .container-top .main-box-column2 {
      flex-basis: 45%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container-top .main-box-column2 .box-container-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
        line-height: 3.2rem;
        overflow-y: scroll;
        /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
        .container-top .main-box-column2 .box-container-info::-webkit-scrollbar {
          width: 5px; }
        .container-top .main-box-column2 .box-container-info::-webkit-scrollbar-track {
          background: #333; }
        .container-top .main-box-column2 .box-container-info::-webkit-scrollbar-thumb {
          background: #ffffe6; }
        .container-top .main-box-column2 .box-container-info::-webkit-scrollbar-thumb:hover {
          background: #777; }
        @media only screen and (max-width: 56.25em) {
          .container-top .main-box-column2 .box-container-info {
            overflow-y: unset;
            margin-top: 5vh;
            padding-bottom: 10vh; } }
        .container-top .main-box-column2 .box-container-info p, .container-top .main-box-column2 .box-container-info i {
          font-size: 6rem;
          color: #ffffe6;
          text-shadow: 0px 1px 8px #000;
          font-size: 1.8rem; }
          .container-top .main-box-column2 .box-container-info p b, .container-top .main-box-column2 .box-container-info i b {
            font-size: 2rem;
            letter-spacing: 1px; }
        .container-top .main-box-column2 .box-container-info .box-info1, .container-top .main-box-column2 .box-container-info .box-info2 {
          width: 70%; }
        .container-top .main-box-column2 .box-container-info .box-info2 {
          padding-top: 3rem;
          text-align: left; }
    @media only screen and (max-width: 56.25em) {
      .container-top .main-box-column1 {
        flex-basis: unset; } }
  .container-top #container-top__icon {
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: keepJumping;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
    @media only screen and (max-width: 56.25em) {
      .container-top #container-top__icon {
        display: initial; } }
    .container-top #container-top__icon .disappear {
      display: none; }
  .container-top__button-bottom {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
    @media only screen and (max-width: 56.25em) {
      .container-top__button-bottom {
        width: 90%;
        margin: 0 auto; }
        .container-top__button-bottom .icon {
          transform: translateY(6px); }
        .container-top__button-bottom > * {
          transform: translateY(1.8rem); } }
  .container-top--active {
    transform: rotateX(0deg);
    z-index: 35; }

.container-left {
  transform: rotateY(-180deg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../img/sfondo.png");
  background-size: cover;
  height: 100%;
  /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
  @media only screen and (max-width: 67.2em) {
    .container-left {
      flex-direction: column; } }
  .container-left--active {
    transform: rotateY(0deg);
    z-index: 35; }
  .container-left__button-right {
    display: flex;
    justify-content: flex-end;
    flex-basis: 19%;
    /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
    .container-left__button-right .icon {
      transform: translateY(-10px); }
    @media only screen and (max-width: 67.2em) {
      .container-left__button-right {
        flex-basis: 10%;
        align-items: center;
        transform: translateX(1rem); }
        .container-left__button-right .icon {
          transform: translateY(6px); } }
  .container-left .main-box {
    z-index: 100;
    display: block;
    flex: 1;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    flex-direction: column;
    /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
    .container-left .main-box::-webkit-scrollbar {
      width: 5px; }
    .container-left .main-box::-webkit-scrollbar-track {
      background: #333; }
    .container-left .main-box::-webkit-scrollbar-thumb {
      background: #ffffe6; }
    .container-left .main-box::-webkit-scrollbar-thumb:hover {
      background: #777; }
    .container-left .main-box-row1, .container-left .main-box-row2 {
      display: flex;
      /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
      .container-left .main-box-row1 > *, .container-left .main-box-row2 > * {
        display: flex;
        flex-direction: column; }
      @media only screen and (max-width: 67.2em) {
        .container-left .main-box-row1, .container-left .main-box-row2 {
          flex-direction: column;
          flex: none;
          z-index: 100; } }
    .container-left .main-box-row1 {
      flex-basis: 110%; }
    @media only screen and (max-width: 67.2em) {
      .container-left .main-box {
        display: block; }
        .container-left .main-box > * > * {
          flex-basis: unset; } }
    .container-left .main-box .box-classifica {
      flex-basis: 60%;
      padding: 2rem 5%;
      padding-left: 7%; }
      .container-left .main-box .box-classifica__title {
        color: #ffffe6;
        font-family: "eafont";
        font-size: 4rem;
        padding: 1rem 5rem;
        text-shadow: 0px 1px 8px #000; }
      .container-left .main-box .box-classifica__list {
        list-style: none; }
        .container-left .main-box .box-classifica__list--player {
          display: flex;
          width: 90%;
          background-color: #ffffe6;
          -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
          transition: all .2s; }
          .container-left .main-box .box-classifica__list--player > * {
            display: inline-block;
            color: #ce8013;
            font-family: "eafont";
            font-size: 2rem;
            padding: 1rem 2rem; }
          .container-left .main-box .box-classifica__list--player__position {
            flex-basis: 10%; }
          .container-left .main-box .box-classifica__list--player__name {
            flex-basis: 60%; }
          .container-left .main-box .box-classifica__list--player__score {
            flex-basis: 30%; }
          .container-left .main-box .box-classifica__list--player:hover {
            transform: scale(1.1) translateX(5%) translateY(-4px);
            width: 95%;
            background-color: #ce8013; }
            .container-left .main-box .box-classifica__list--player:hover > * {
              color: #ffffe6; }
    .container-left .main-box .box-scorer {
      padding-top: 4rem;
      flex: 1; }
      .container-left .main-box .box-scorer__title {
        color: #ffffe6;
        font-family: "eafont";
        font-size: 3rem;
        padding: 1rem 5rem;
        text-shadow: 0px 1px 8px #000;
        text-align: center; }
      .container-left .main-box .box-scorer__list {
        list-style: none;
        padding: 0 15%;
        /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
        @media only screen and (max-width: 67.2em) {
          .container-left .main-box .box-scorer__list {
            padding: 0 20%;
            font-size: 1.8rem; } }
        .container-left .main-box .box-scorer__list--scorer {
          display: flex;
          background-color: #ffffe6;
          border-bottom: solid #999 1px;
          transition: all .2s; }
          .container-left .main-box .box-scorer__list--scorer > * {
            display: inline-block;
            color: #ce8013;
            font-family: "eafont";
            font-size: 1.5rem;
            padding: .8rem 1.5rem;
            /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
            @media only screen and (max-width: 67.2em) {
              .container-left .main-box .box-scorer__list--scorer > * {
                font-size: 1.8rem; } }
          .container-left .main-box .box-scorer__list--scorer__name {
            flex-basis: 60%; }
          .container-left .main-box .box-scorer__list--scorer__goals {
            flex: 1;
            text-align: center; }
          .container-left .main-box .box-scorer__list--scorer:hover {
            transform: scale(1.2) skewX(-5deg) skewY(2deg);
            border: solid #999 1px; }
    .container-left .main-box .box-gc, .container-left .main-box .box-gs {
      flex-basis: 50%;
      padding: 5rem 20%; }
      .container-left .main-box .box-gc__title, .container-left .main-box .box-gs__title {
        color: #ffffe6;
        font-family: "eafont";
        font-size: 3.5rem;
        padding: 1rem 5rem;
        /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */
        text-shadow: 0px 1px 8px #000;
        text-align: center; }
        @media only screen and (max-width: 67.2em) {
          .container-left .main-box .box-gc__title, .container-left .main-box .box-gs__title {
            padding: 0;
            padding-bottom: 1.1rem; } }
      .container-left .main-box .box-gc__list, .container-left .main-box .box-gs__list {
        list-style: none; }
        .container-left .main-box .box-gc__list--player, .container-left .main-box .box-gs__list--player {
          display: flex;
          background-color: #ffffe6;
          border-bottom: solid #999 1px;
          transition: all .2s; }
          .container-left .main-box .box-gc__list--player > *, .container-left .main-box .box-gs__list--player > * {
            display: inline-block;
            color: #ce8013;
            font-family: "eafont";
            font-size: 1.8rem;
            padding: .8rem 1.5rem; }
          .container-left .main-box .box-gc__list--player__name, .container-left .main-box .box-gs__list--player__name {
            flex-basis: 60%;
            padding-left: 5rem; }
          .container-left .main-box .box-gc__list--player__gc, .container-left .main-box .box-gs__list--player__gc {
            flex: 1; }
    .container-left .main-box .box-gc__list--player:hover {
      transform: scale(1.2) skewX(3deg) skewY(-2deg);
      border: solid #999 1px; }
    .container-left .main-box .box-gs {
      padding: 0;
      padding-right: 5rem;
      /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
      .container-left .main-box .box-gs__list--player:hover {
        transform: scale(1.2) skewX(-5deg) skewY(2deg);
        border: solid #999 1px; }
      @media only screen and (max-width: 67.2em) {
        .container-left .main-box .box-gs {
          padding: 0 20%;
          padding-bottom: 5vh; } }
  .container-left .download-btn {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    display: inline-block;
    width: 10%;
    color: #ce8013;
    background-color: #ffffe6;
    border: 2px solid #ce8013;
    border-radius: 50px;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all .2s;
    -webkit-transition: scale .2s;
    /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
    .container-left .download-btn:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      color: #ffffe6;
      background-color: #ce8013; }
    .container-left .download-btn:active {
      transform: scale(0.9); }
    @media only screen and (max-width: 67.2em) {
      .container-left .download-btn {
        display: block;
        width: 35%;
        position: unset;
        margin: 0 auto;
        margin-bottom: 3vh; } }

.container-right {
  transform: rotateY(180deg);
  height: 100%;
  min-height: 0;
  display: flex;
  align-items: center;
  background-image: url("../img/sfondo2.jpeg");
  background-size: cover;
  /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
  @media only screen and (max-width: 56.25em) {
    .container-right {
      background-position: center;
      flex-direction: column-reverse; }
      .container-right .mainbox {
        flex: 1;
        margin-top: 40%;
        font-size: 3rem !important;
        padding: 0 10%; } }
  .container-right--active {
    transform: rotateY(0deg);
    z-index: 35; }
  .container-right .container__button-left {
    /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
    .container-right .container__button-left .icon {
      transform: translateY(-10px); }
    @media only screen and (max-width: 56.25em) {
      .container-right .container__button-left {
        transform: translateX(-1rem); } }
  .container-right .mainbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 6rem;
    color: #ffffe6;
    text-shadow: 0px 1px 8px #000;
    font-size: 3.5rem; }
    .container-right .mainbox p {
      text-align: center;
      padding-bottom: 5rem; }
  .container-right .sad-icon {
    width: 10rem;
    height: 10rem;
    background-image: url("../img/icon-sad.png");
    background-size: cover; }

.container-bottom {
  transform: rotateX(-180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/sfondo2.jpeg");
  background-size: cover;
  /*
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    } */ }
  @media only screen and (max-width: 56.25em) {
    .container-bottom {
      background-position: center; } }
  .container-bottom__text {
    flex: 1;
    color: #fff;
    font-size: 2.4rem;
    text-align: center;
    width: 50%;
    padding-top: 15rem; }
  .container-bottom--active {
    transform: rotateX(0deg);
    z-index: 35; }
