body {
    background-color: #ffd699;
}

tr {
    height: 35px;
}

td,th {
    border: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

p {
    font-size: 3vh;
    margin-block-start: 0;
}

.header {
    display: block;
    background-color: #ffb84d;
    text-align: center;
    padding: 2vh;
    border-top: 1vh double white;
    border-bottom: 1vh double white;
}
.title {
    color: #fff;
    font-size: 50px;
    text-shadow: 0px 0px 8px #000;
    letter-spacing: 3px;
    position: relative;
    z-index: 15;
}

.table {
    width: 60%;
    border: 3px solid #4da6ff;
    /*padding: 20px;*/
    background-color: white;
    border-collapse: collapse;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 5vh;
}
.table2{
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

.button {
    width: 250px;
    border-style: solid;
    border-color: #ffb84d;
    border-radius: 10px;
    border-width: 4px;
    background-color: floralwhite;
    text-align: center;
    padding: 10px 20px 6px 20px;
    font-family: Palatino;
    font-size: 20px;
    color: #e68a00;
    letter-spacing: 1px;
    text-decoration: none;
}
.button:hover{
    background-color: cornsilk;
    color: #000;
    font-weight: bold;
}
.btnbox {
    text-align: center;
    margin: 8vh;
}

.container {
    display: block;
    width: 100%;
    height: auto;
}

.votebox {
    display: block;
    text-align: center;
    position: relative;
}
.votebox_text {
    display: inline-block;
    margin-right: 10vw;
}
.votebox_btnbox {
    display: inline-table;
    height: 100%;
}
.btnvote {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.awardsbox {
    display: table;
    width: 80%;
    height: 40vh;
    margin: 5vh auto;
    
    border: 2px solid #000;
    
}
.awardsbox_btn {
    display: table-cell;
    width: 20%;
    height: 100%;
    border-right: 2px solid #000;
}
.abtn {
    display: block;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    background-color: floralwhite;
    border-bottom: 1px solid grey;
    color: black;
    cursor: pointer;
}
.abtn:hover {
    background-color: red;
}
.awardsbox_winner {
    display: table-cell;
}
.winner_imgAtt {
    background-image: url(photos/big-salah-egitto-320x214.jpg);
    background-size: cover;
}
.winner_imgDif {
    background-image: url(photos/bailly.jpg);
    background-size: cover;
}
.winner_imgCen {
    background-image: url(photos/ERIKSEN-DANIMARCA_.jpg);
    background-size: cover;
}
.winner_imgPor {
    background-image: url(photos/ochoa.jpg);
    background-size: cover;
}
.winner {
    color: floralwhite;
    padding-left: 2vw;
    font-family: Palatino;
    font-size: 2vw;
    text-align: left;
}
#winnerName{
    font-weight: bold;
    font-size: 3vw;
}

.mentionsbox {
    background-color: floralwhite;
    text-align: center;
    height: auto;
}
.mentionsbox p {
    padding: 10px 20px 5px 20px;
}
.mentionsbox span {
    font-weight: bold;
    font-family: Palatino;
}


/*

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
*/

@media (max-width: 767px){
     
    .title span {
        display: none;
    }
    .title:after {
        content: "FIFAFES"
    }
    
    .font_fit span {
        display: none;
    }
    .font_fit:after {
        content: "#";
    }
    
    .votebox_text {
        display: block;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    p {
        font-size: 2.5vh;
    }
    
    .btnbox {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    
    .btnback {
        width: 60%;
    }
    
    .awardsbox {
        height: auto;
    }
    
    .awardsbox_btn {
        display: table-row;
    }
    .abtn {
        display: inline-block;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    
    .awardsbox_winner {
        height: 30vh;
        display: table-row;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .winner {
        padding-top: 3vh;
        font-size: 2.5vw;
    }
    
    

}