body {
    background-color: #ffd699;
}

tr {
    height: 35px;
}

td,th {
    border: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

p {
    font-size: 3vh;
}

.header {
    display: block;
    background-color: #ffb84d;
    text-align: center;
    padding: 2vh;
    border-top: 1vh double white;
    border-bottom: 1vh double white;
}
.title {
    color: #fff;
    font-size: 50px;
    text-shadow: 0px 0px 8px #000;
    letter-spacing: 3px;
    position: relative;
    z-index: 15;
}

.table {
    width: 60%;
    border: 3px solid #4da6ff;
    /*padding: 20px;*/
    background-color: white;
    border-collapse: collapse;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 5vh;
}
.table2{
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

.button {
    width: 250px;
    border-style: solid;
    border-color: #ffb84d;
    border-radius: 10px;
    border-width: 4px;
    background-color: floralwhite;
    text-align: center;
    padding: 10px 20px 6px 20px;
    font-family: Palatino;
    font-size: 20px;
    color: #e68a00;
    letter-spacing: 1px;
    text-decoration: none;
}
.button:hover{
    background-color: cornsilk;
    color: #000;
    font-weight: bold;
}
.btnbox {
    text-align: center;
    margin: 8vh;
}

.container {
    display: block;
    width: 100%;
    height: auto;
}

.votebox {
    display: block;
    text-align: center;
    position: relative;
}
.votebox_text {
    display: inline-block;
    margin-right: 10vw;
}
.votebox_btnbox {
    display: inline-table;
    height: 100%;
}
.btnvote {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
*/

@media (max-width: 767px){
     
    .title span {
        display: none;
    }
    .title:after {
        content: "FIFAFES"
    }
    
    .font_fit span {
        display: none;
    }
    .font_fit:after {
        content: "#";
    }
    
    .votebox_text {
        display: block;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    p {
        font-size: 2.5vh;
    }
    
    .btnbox {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    
    .btnback {
        width: 60%;
    }

}