@font-face {
    font-family: 'digital-7_monomono';
    src: url("font/digital-7/digital-7.ttf")
}
@font-face {
    font-family: 'eafont';
    src: url("font/EASPORTS15.ttf")
}

html {
    font-family: 'Lato', sans-serif;
}

.header {
    display: block;
    background-color: #ffb84d;
    text-align: center;
    padding: 2vh;
    border-top: 1vh double white;
    border-bottom: 1vh double white;
    font-family: 'eafont';
}
.title {
    color: #fff;
    font-size: 7vh;
    text-shadow: 0px 0px 8px #000;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

.section_main {
    height: 86vh;
    width: 100%;
    background-image: url(sfondo.png);
    background-size: cover;
    position: absolute;
}

.filter {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.2; 
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.container {
    display: block;
    margin: 0;
}

.button {
    display: block;
    width: 250px;
    border-style: solid;
    border-color: #ffb84d;
    border-radius: 10px;
    border-width: 4px;
    background-color: floralwhite;
    text-align: center;
    padding: 8px 20px 6px 20px;
    font-size: 20px;
    color: #e68a00;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
    margin-left: 5vw;
    margin-top: 10vh;
}
.button:hover{
    background-color: cornsilk;
    color: #000;
    font-weight: bold;
}

.timer_container {
    width: 35vw;
    height: 11vh;
    position: absolute;
    left: 55%;
    top: 7vh;
    border: solid 3px white;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 50px 20px rgba(247,247,247,0.84);
    -moz-box-shadow: 0px 0px 50px 20px rgba(247,247,247,0.84);
    box-shadow: 0px 0px 50px 20px rgba(247,247,247,0.84);
}
.timer {
    color: white;
    font-family: "digital-7_monomono";
    font-size: 10vh;
}

@media (max-width: 1100px){
    
    .section_main {
        background-position: 25% 0px;
        background-size: 380%;
        background-repeat: no-repeat;
        height: 89vh;
    }
    
    .title span {
        display: none;
    }
    .title:after {
        content: "FIFAFES"
    }
    
    .button {
        margin: auto;
        margin-top: 50px; 
    }
    
    .container {
        width: 100%;
        margin-top: 280px;
    }   

    .title {
        font-size: 40px;
    }
    
    .timer_container {
        position: static;
        display: block;
        width: 250px;
        height: 6vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .timer {
        font-size: 5vh;
    }
    
}