html,body {
}
body {
    box-sizing: border-box;
    padding: 0px;
}

.header {
    display: block;
    background-color: #ffb84d;
    text-align: center;
    padding: 4vh;
    border-top: 1vh double white;
    border-bottom: 1vh double white;
}
.title {
    color: #fff;
    font-size: 5vh;
    text-shadow: 0px 0px 8px #000;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

.section_main {
    height: 84.43vh;
    width: 100%;
    background-image: url(sfondo.jpg);
    background-size: cover;
    position: absolute;
}

.filter {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.2; 
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.container {
    display: block;
    margin: 0;
}

.button {
    display: block;
    width: 250px;
    border-style: solid;
    border-color: #ffb84d;
    border-radius: 10px;
    border-width: 4px;
    background-color: floralwhite;
    text-align: center;
    padding: 10px 20px 6px 20px;
    font-family: Palatino;
    font-size: 20px;
    color: #e68a00;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
}
.button:hover{
    background-color: cornsilk;
    color: #000;
    font-weight: bold;
}
.btn1 {
    margin-left: 100px; 
    margin-top: 10px;
}
.btn2 {
    margin-left: 1000px;
    margin-top: 100px;
}
.btn3 {
    margin-left: 250px;
    pointer-events: none;
}

@media (max-width: 767px){
    
    .section_main {
        background-position: 25% 0px;
        background-size: 380%;
        background-repeat: no-repeat;
    }
    
    .title span {
        display: none;
    }
    .title:after {
        content: "FIFAFES"
    }
    
    .button {
        margin: auto;
        margin-top: 50px; 
    }
    
    .container {
        width: 100%;
        margin-top: 200px;
    }   

    .title {
        font-size: 40px;
    }
    
}