html,body {
    height: 100%;
}

.header {
    background-color: #ffb84d;
    width: 100%;
    height: 62px;
    text-align: center;
    position: fixed;
    z-index: 10;
    left: 0px;
    top: 0px;
    padding: 12px;
    border-top: 5px double white;
    border-bottom: 5px double white;
}
.title {
    color: #fff;
    font-size: 50px;
    text-shadow: 0px 0px 8px #000;
    letter-spacing: 3px;
    position: relative;
    z-index: 15;
}

a {
    text-decoration: none;
}

.background {
    height: 100%; /*border:1px solid red;*/
	background-image: url(sfondo.jpg);
	background-size: cover; /* ridimensioniamo l'immagine */
	-o-background-size: cover;
	-moz-background-size: cover;
	background-position: 0px 76px; /* centriamo l'immagine */
    background-repeat: no-repeat;
	position: relative;
}

.filter {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.2; 
    position: absolute;
    z-index: 0;
}

.button {
    width: 250px;
    border-style: solid;
    border-color: #ffb84d;
    border-radius: 10px;
    border-width: 4px;
    background-color: floralwhite;
    text-align: center;
    padding: 10px 20px 6px 20px;
    font-family: Palatino;
    font-size: 20px;
    color: #e68a00;
    letter-spacing: 1px;
}
.button:hover{
    background-color: cornsilk;
    color: #000;
    font-weight: bold;
}
.btn1 {
    position: absolute;
    z-index: 1;
    top: 140px;
    left: 37px;
}
.btn2 {
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 45%;
}
.btn3 {
    position: absolute;
    z-index: 1;
    top: 470px;
    left: 65%;
    pointer-events: none;
}