body, html {
}
body {
    box-sizing: border-box;
    padding: 0px;
    background-color: #ffd699;
}

a {
    text-decoration: none;
}

p {
    margin-block-start: 1em;
    margin-block-end: 0px;
    font-family: Palatino;
}
p.second_block_interview_title {
    text-align: center;
    font-size: 4vh;   
}

h2 {
    margin-block-start: 0em;
}

.header {
    display: block;
    background-color: #ffb84d;
    text-align: center;
    padding: 2vh;
    border-top: 1vh double white;
    border-bottom: 1vh double white;
}
.title {
    color: #fff;
    font-size: 7vh;
    text-shadow: 0px 0px 8px #000;
    letter-spacing: 3px;
}

.background {
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nessun_evento {
    color: white;
    font-family: Courier;
    text-shadow: 2px 0 #000,-2px 0 #000,0 2px #000,0 -2px #000,2px 2px #000,-2px -2px #000,2px -2px #000,-2px 2px #000;
    font-size: 36px;
    letter-spacing: 1px;
    text-align: center;
}

.button {
    width: 100px;
    border-style: solid;
    border-color: #ffb84d;
    border-radius: 10px;
    border-width: 4px;
    background-color: floralwhite;
    text-align: center;
    padding: 10px 20px 6px 20px;
    font-family: Palatino;
    font-size: 3vh;
    color: #e68a00;
    letter-spacing: 1px;
    display: block;
    margin-top: 5vh;
    position: absolute;
    left: 6vw;
    transform: translate(-50%,-50%);
}
.button:hover{
    background-color: cornsilk;
    color: #000;
    font-weight: bold;
}

.first_block {
    text-align: center;
    width: 60%;
    height: 78vh;
    border-right: solid 1vw #e68a00;
    display: inline-block;
    float: left;
    padding-top: 8vh;
}
.first_block_subtitle {
    font-weight: bold;
    font-size: 6vh;
    color: #809fff;
    text-shadow: 1px 0 #000,-1px 0 #000,0 1px #000,0 -1px #000,1px 1px #000,-1px -1px #000,1px -1px #000,-1px 1px #000;
}
.first_block_maintext {
    color: #fff;
    font-size: 8vh;
    text-shadow: 0px 0px 8px #000;
    letter-spacing: 1px;
}
.first_block_secondarytitle {
    font-size: 4vh;
    margin-top: 4vh;
}
.first_block_players {
    font-size: 3.4vh;
    font-family: Impact;
    font-weight: bold;
}
.first_block_players_col {
    display: inline-block;
    margin-right: 2vw;
    margin-left: 2vw;
}
    
.second_block {
    text-align: justify;
    height: 100%;
    width: 35%;
    overflow: scroll;
    display: inline-block;
    float: left;
    background-color: floralwhite;
    padding-right: 2.04122%;
    padding-left: 1.95%;
}
.second_block span {
    display: block;
    height: 5px;
    background: #66b3ff;
    width: 100%;
    margin-top: 2em;
}
.second_block_title {
    text-align: center;
    font-size: 36px;
    display: block;
    margin-top: 15vh;
}
.second_block_logo_container {
    display: table;
    width: 100%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}
.second_block_logo {
    display: inline-block;
    width: 20%;
    height: auto;
    margin-left: 20%;
}
.second_block_button {
    width: auto;
    position: static;
    display: block;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    transform: none;
    border-style: solid;
    border-color: #ffb84d;
    border-radius: 10px;
    border-width: 4px;
    background-color: floralwhite;
    text-align: center;
    padding: 10px 20px 6px 20px;
    font-family: Palatino;
    font-size: 3vh;
    color: #e68a00;
    letter-spacing: 1px;
}
.second_block_button:hover{
    background-color: cornsilk;
    color: #000;
    font-weight: bold;
}

.container {
    height: 86vh;
    width: 100%;
    display: block;
    background-color: #ffd699; 
}

.background2020 {
    height: 86vh;
    width: 100%;
    background-image: url(photos/SfondoEvento.jpg);
    background-size: cover;
    position: absolute;
}


@media (max-width: 1100px){
    
    .header {
        position: fixed;
        width: 100%;
    }
    
    .container {
        padding-top: 14vh;
    }
    
    .button {
        position: static;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 2vh;
        width: 60px;
        margin-bottom: 2vh;
        transform: none;
    }
    
    .background2020 {
        height: 100%;
        background-image: url(photos/SfondoEventoCell.jpg);
        background-size: contain;
        background-repeat:round;
    }
 
    .title span {
        display: none;
    }
    .title:after {
        content: "FIFAFES"
    }
    
    .first_block {
        display: block;
        width: 100%;
        height: auto;
        border-right: solid 0vw #e68a00;
        border-bottom: solid 1vw #e68a00;
        padding-top: 0px;
        background-color: #ffd699;
    }
    .first_block_subtitle {
        font-size: 4.5vh;
    }
    .first_block_maintext {
        font-size: 6vh;
    }
    .first_block_players {
        padding-bottom: 3vh;
    }   

    .second_block {
        overflow: inherit;
        display: block;
        width: 100%;
        height: auto;
        padding: 0;
    }
    .second_block p {
        
        padding-left: 15px;
        padding-right: 15px;
    }
    .second_block_title {
        margin-top: 5vh;
    }
    .second_block_logo_container {
        margin-bottom: 3vh;
    }
    .second_block_button {
        width: 60vw;
    }
    
    .container {
        height: 75vh;
    }
    
    /* CODICE PER QUANDO NON CI SONO EVENTI IN PROGRAMMA */
    /*
    .button {
        width: 60%;
    }
    .nessun_evento {
        font-size: 3.5vh;
        margin-bottom: 10vh;
    }
    */
}