.flexbox {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    //padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    padding-bottom: calc(env(safe-area-inset-bottom) + 8vh);

}

.main-container {
    z-index: 20;
    perspective: 120rem;
    -moz-perspective: 120rem;
    height: 85vh;
    width: 90vw;
    position: relative;

    @include respond(phone) {
        height: 78vh;
    }

    i {
        font-size: 6rem;
        color: #fff;
        text-shadow: 0px 1px 8px #000;
    }
            
    .icon {
        transform: translateY(10px);
    }

    & > * {
        height: inherit;
        width: inherit;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 2s ease;
        backface-visibility: hidden;
        overflow: hidden;
        @include respond(phone) {
            overflow: hidden;
            -webkit-overflow-scrolling: hidden;
        }

        z-index: 30;

        background-image: $color-juicy-orange;
        box-shadow: 0rem 2rem 2rem rgba($color: #000000, $alpha: 0.4);
    }

    transition: all .4s;

    &--clicked {
        transform: scale(.9);
    }
}

//BUTTONS EFFECTS
[class^="container"] {

    [class*="__button"] {
        transition: all .3s;

        &:hover {
            transform: scale(1.08);
        }

        &:active {
            transform: scale(.9);
        }
    }
}

//FIRST CONTAINER
.container {

    background-image: url("../img/sfondo.png");
    background-size: cover;
    box-shadow: 0rem 2rem 2rem rgba($color: #000000, $alpha: 0.4);

    display: flex;
    flex-direction: column;

    [class*="box"] {
        display: flex;
    }   

    &__box-top {
        flex-basis: 15%;
        justify-content: center;
    }

    &__box-middle {
        flex: 1;
        justify-content: center;
        align-items: center;

        @include respond(phone) {
            display: flex;
            flex-direction: column;
            align-items: center; 

            #btn-left {
                flex-basis: 34%;
                align-items: center;
                transform: translateX(-17%);
            }
            #btn-right {
                flex-basis: 34%;
                align-items: center;
                transform: translateX(17%);
            }
        }
    }

    &__box-bottom {
        flex-basis: 15%;
        justify-content: center;
        align-items: flex-end;
    }

    &__logo {
        flex: 1;
        text-align: center;
        color: #fff;
        font-size: 4rem;
        text-transform: uppercase;
        text-shadow: 0px 1px 7px #000;
        cursor: default;
        user-select: none;

        @include respond(phone) {
            display: contents;
        }
    }

    &__button-top, &__button-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__button-left, &__button-right {
        display: flex;
        justify-content: center;
        flex-basis: 25%;
    }
    &__button-right {
        text-align: right;
    }


    //FOR JS, WHEN A BTN IS CLICKED
    &--clicked {

        &--top {
            transform: rotateX(-180deg);
        }

        &--left {
            transform: rotateY(180deg);
        }

        &--right {
            transform: rotateY(-180deg);
        }

        &--bottom {
            transform: rotateX(180deg);
        }
    }

}

//CONTAINER TOP => BACHECA
.container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotateX(180deg);

    background-image: url("../img/sfondo3.jpg");
    background-size: cover;

    .main-box {
        display: flex;
        height: 85%;

        @include respond(phone) {
            //height: 100%;
            //flex-direction: column;
            display: block;
            overflow-y: scroll;
            overflow-x: hidden;
            @include scrollbar1;
        }

        &-column1 {
            margin-top: 3rem;
            flex-basis: 55%;
            display: flex;
            flex-direction: column;

            &__title {
                @include title1;
                text-align: center;
            }

            .box_mvp {
                flex: 1;
                display: flex;
                flex-direction: column;

                &-row1, &-row2 {
                    flex-basis: 50%;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 12px;
                }

                .mvp {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%;

                    &__title, &__name {
                        @include title1;
                        font-size: 2rem;
                        text-align: center;
                    }
                    &__title {
                        font-size: 1.5rem;

                        br {
                            display: none;
                        }

                        @include respond(phone) {
                            font-size: 2rem;
                            padding: 1rem 2rem;

                            br {
                                display: inline;
                            }
                        }
                    }

                    &__img {
                        flex: 1;
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        @include respond(phone) {
                            height: 15rem;

                            .img1, .img2, .img3, .img4 {
                                background-position: center;
                            }
                        }

                        $img-width: 60%;
                    
                        & > * {
                            border: solid 1.4px $color-white;
                            border-radius: 5px;

                            transition: all .2s;

                            &:hover {
                                transform: scale(1.4);
                            }
                        }
                        
                        .img1 {
                            height: 100%;
                            width: $img-width;
                            background-image: url("../img/balotelli.jpg");
                            background-size: cover;
                            //background-position: center;
                        }

                        .img2 {
                            height: 100%;
                            width: $img-width;
                            background-image: url("../img/soriano.jpg");
                            background-size: cover;
                        }

                        .img3 {
                            height: 100%;
                            width: $img-width;
                            background-image: url("../img/danilo.jpg");
                            background-size: cover;
                        }

                        .img4 {
                            height: 100%;
                            width: $img-width;
                            background-image: url("../img/handanovic.jpg");
                            background-size: cover;
                        }
                    }
                }
            }
        }

        &-column2 {
            flex-basis: 45%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .box-container-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10rem;

                line-height: 3.2rem;

                overflow-y: scroll;
                @include scrollbar1;

                @include respond(phone) {
                    overflow-y: unset;
                    margin-top: 5vh;
                    padding-bottom: 10vh;
                }

                p, i {
                    @include text1;
                    font-size: 1.8rem;

                    b {
                        font-size: 2rem;
                        letter-spacing: 1px;
                    }
                }

                .box-info1, .box-info2 {
                    width: 70%;
                }
                .box-info2 {
                    padding-top: 3rem;
                    text-align: left;
                }
            }
        }

        @include respond(phone) {
            &-column1, %-column2 {
                flex-basis: unset;
            }
        }
    }

    #container-top__icon {
        display: none;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%); 

        animation-name: keepJumping;
        animation-duration: .6s;  
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @include respond(phone) {
            display: initial;
        }

        .disappear {
            display: none;
        }

    } 

    &__button-bottom {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond(phone) {
            //flex-basis: 5%;
            //align-items: center;
            //transform: translateX(1rem);
            width: 90%;
            margin: 0 auto;

            .icon {
                transform: translateY(6px);
            }

            & > * {
                transform: translateY(1.8rem);
            }
        }
    }


    &--active {
        transform: rotateX(0deg);
        z-index: 35;
    }
}

//CONTAINER LEFT => PASSATA EDIZIONE
.container-left {

    transform: rotateY(-180deg);

    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-image: url("../img/sfondo.png");
    background-size: cover;

    height: 100%;

    @include respond(tab-port) {
        flex-direction: column;
    }

    &--active {
        transform: rotateY(0deg);
        z-index: 35;
    }

    &__button-right {
        display: flex;
        justify-content: flex-end;
        flex-basis: 19%;

        .icon {
            transform: translateY(-10px);
        }

        @include respond(tab-port) {
            flex-basis: 10%;
            align-items: center;
            transform: translateX(1rem);

            .icon {
                transform: translateY(6px);
            }
        }
    }
    
    .main-box {
        z-index: 100;

        display: block;
        flex: 1;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling:touch;
        @include scrollbar1;

        flex-direction: column;
        &-row1, &-row2 {
            display: flex;
            & > * {
                display: flex;
                flex-direction: column;
            }

            @include respond(tab-port) {
                flex-direction: column;
                flex: none;
                z-index: 100;
            }
        }
        &-row1 {
            flex-basis: 110%;
        }

        @include respond(tab-port) {
            display: block;
            & > * {
                & > * { 
                    flex-basis: unset;
                }
            }
        }

        .box-classifica {

            flex-basis: 60%;
            padding: 2rem 5%;
            padding-left: 7%;

            &__title {
                @include title1;
            }

            &__list {

                list-style: none;

                &--player {

                    display: flex;
                    width: 90%;
                    background-color: $color-white;
                    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
                    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
                    transition: all .2s;

                    & > * {

                        display: inline-block;
                        color: $color-orange;
                        font-family: 'eafont',;
                        font-size: 2rem;
                        padding: 1rem 2rem;

                    }

                    &__position {
                        flex-basis: 10%;
                    }

                    &__name {
                        flex-basis: 60%;
                    }

                    &__score {
                        flex-basis: 30%;
                    }

                    &:hover {
                        transform: scale(1.1) translateX(5%) translateY(-4px);
                        width: 95%;
                        background-color: $color-orange;

                        & > * {
                            color: $color-white;
                        }
                    }

                }

            }

        }

        .box-scorer {

            padding-top: 4rem;
            flex: 1;

            &__title {
                color: $color-white;
                font-family: 'eafont',;
                font-size: 3rem;
                padding: 1rem 5rem;
                text-shadow: 0px 1px 8px #000;
                text-align: center;
            }

            &__list {

                list-style: none;
                padding: 0 15%;
                @include respond(tab-port) {
                    padding: 0 20%;
                    font-size: 1.8rem;
                }

                &--scorer {

                    display: flex;
                    background-color: $color-white;
                    border-bottom: solid #999 1px;
                    transition: all .2s;

                    & > * {
                        display: inline-block;
                        color: $color-orange;
                        font-family: 'eafont',;
                        font-size: 1.5rem;
                        padding: .8rem 1.5rem;
                        @include respond(tab-port) {
                            font-size: 1.8rem;
                        }
                    }

                    &__name {
                        flex-basis: 60%;
                    }

                    &__goals {
                        flex: 1;
                        text-align: center;
                    }

                    &:hover {
                        transform: scale(1.2) skewX(-5deg) skewY(2deg);
                        border: solid #999 1px;
                    }

                }

            }

        }

        .box-gc, .box-gs {

            flex-basis: 50%;
            padding: 5rem 20%;

            &__title {
                color: $color-white;
                font-family: 'eafont',;
                font-size: 3.5rem;
                padding: 1rem 5rem;
                @include respond(tab-port) {
                    padding: 0;
                    padding-bottom: 1.1rem;
                }
                text-shadow: 0px 1px 8px #000;
                text-align: center;
            }

            &__list {
                list-style: none;

                &--player {

                    display: flex;
                    background-color: $color-white;
                    border-bottom: solid #999 1px;
                    transition: all .2s;

                    & > * {
                        display: inline-block;
                        color: $color-orange;
                        font-family: 'eafont',;
                        font-size: 1.8rem;
                        padding: .8rem 1.5rem;
                    }
        
                    &__name {
                        flex-basis: 60%;
                        padding-left: 5rem;
                    }
                    
                    &__gc {
                        flex: 1;
                    }

                }
            }
        }

        .box-gc__list--player:hover {
            transform: scale(1.2) skewX(3deg) skewY(-2deg);
            border: solid #999 1px;
        }

        .box-gs {
            padding: 0;
            padding-right: 5rem;

            &__list--player:hover {
                transform: scale(1.2) skewX(-5deg) skewY(2deg);
                border: solid #999 1px;
            }

            @include respond(tab-port) {
                padding: 0 20%;
                padding-bottom: 5vh;
            }
        }

    }

    .download-btn {
        position: absolute;
        right: 3rem;
        bottom: 3rem;

        display: inline-block;
        width: 10%;
        color: $color-orange;
        background-color: $color-white;
        border: 2px solid $color-orange;
        border-radius: 50px;
        padding: 1rem 2rem;

        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;

        transition: all .2s;
        -webkit-transition: scale .2s;
        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            color: $color-white;
            background-color: $color-orange;
        }
        &:active {
            transform: scale(.9);
        }

        @include respond(tab-port) {
            display: block;
            width: 35%;
            position: unset;
            margin: 0 auto;
            margin-bottom: 3vh;
        }
    }

}

//CONTAINER RIGHT 
.container-right {
    transform: rotateY(180deg);
    height: 100%;
    min-height: 0;
    display: flex;
    align-items: center;
    background-image: url("../img/sfondo2.jpeg");
    background-size: cover;

    @include respond(phone) {
        background-position: center;
        flex-direction: column-reverse;

        .mainbox {
            flex: 1;
            margin-top: 40%;
            font-size: 3rem !important;
            padding: 0 10%;
        }
    }


    &--active {
        transform: rotateY(0deg);
        z-index: 35;
    }

    .container__button-left {
        .icon {
            transform: translateY(-10px);
        }
        
        @include respond(phone) {
            transform: translateX(-1rem);
        }
    }

    .mainbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include text1;
        font-size: 3.5rem;
        p {
            text-align: center;
            padding-bottom: 5rem;
        }
    }

    .sad-icon {
        width: 10rem;
        height: 10rem;
        background-image: url("../img/icon-sad.png");
        background-size: cover;
    }


}

//CONTAINER BOTTOM
.container-bottom {

    transform: rotateX(-180deg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/sfondo2.jpeg");
    background-size: cover;

    @include respond(phone){
        background-position: center;
    }

    &__text {
        flex: 1;

        color: #fff;
        font-size: 2.4rem;
        text-align: center;
        width: 50%;
        padding-top: 15rem;
    }

    &--active {
        transform: rotateX(0deg);
        z-index: 35;
    }

}