*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat",;

    @include respond(phone) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;

    background-image: $color-sunrise;
    overflow: hidden;

    @include respond(phone) {
        overflow: unset;
    }
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'eafont',;
}